*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    color: #000000;
    text-align: center;
    background-color: #ffffff;
    width:100%;
}

div.container{
    justify-self: center;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 10rem;
}

div.container h1{
    font-weight: bold;
    color: #000000;
    padding: 0;
    margin-bottom: 15px;
}
div li{
    list-style: circle;
}
div input{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    width: 20em;
    padding: min(5em, 8%);
}
div button{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    border-color: #ffffff;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}

li.checked{
    color: rgb(0, 0, 0);
    text-decoration: line-through;
    border-radius: 5px;
    width: 1.5rem;
    padding: min(5em, 8%);
}
li.content{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 100%;
    padding: 1.5rem;
    margin-top: 10px;
}

@media (max-width: 820px){
    *{
        margin: auto;
    }
    div.container{
        padding: 5rem;
    }
    div input{
        box-sizing: border-box;
        padding: 15px;
        border-radius: 5px;
    }
    li.checked{
        width: 1.5rem;
    }
    li.content{
        margin-top: 10px;
    }
}
